.about-section {
    background-color: #82B300;
    width: 100%;
    height: auto;
    padding: 20px 0px;
    margin: 50px 0px;
}

.about-title {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 800;
    color: #FFFFFC;
    text-shadow: 3px 3px 3px #FFBB00;

}

.about-paragraph {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 50px;
    width: 80%;
    margin: 50px auto 100px;
    text-align: center;
    color: #003C40;
    background-color: #fcfcea;
    border-radius: 20px;
    border: 3px solid #003C40;
    padding: 20px;
    /* text-shadow: 2px 2px 2px #FFFFFC; */

}