.account {
    max-width: 95vw;
    margin: 180px auto;
    padding: 20px;
    background-color: #fbffee;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account .sign-out-btn,
.account .edit {
    font-family: inherit;
    background-color: #82B300;
    border: none;
    color: white;
    padding: 20px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    margin: 10px 10px 10px 0;
}

.account h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #FB7300;
}

.account h2 {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #003C40;
}

.account table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2em;
    color: #003C40;
    border-radius: 10px;
}

.account th,
.account td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #82B300;
    font-size: 1.2em;
}

.account th {
    background-color: #daf29a;
}

.account .sign-out-btn:hover, .account .edit:hover {
    background-color: #FFBB00;
}

.account .delete-btn {
    background-color: #fa9d12;
    font: inherit;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.account .delete-btn:hover {
    background-color: #f9c06c;
}