.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.container h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    color: #82B300;
    margin: 0px auto 0;
    padding: 18px;
    border-bottom: 2px solid #82B300;
}

.container p {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 400;
}

.zipcode-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 15px;
    width: 40%;
}

.mapbuttons {
    display: flex;
    gap: 10px;
}

.find-button,
.toggle-button {
    padding: 10px 20px;
    margin: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background: #FFBB00;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.09);
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.map {
    height: 450px;
    width: 60%;
    margin-right: 20px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 45px;
}

.addresses {
    width: 35%;
    max-height: 450px;
    overflow-y: auto;
}

.address-list {
    list-style-type: none;
    padding: 0;
}

.address-item {
    margin-bottom: 10px;
}

@media screen and (min-width: 1025px) and (max-width: 1225px) {
    .container {
        margin: 135px 40px 20px;
    }
    .container h1 {
        font-size: 2.5rem;
        padding: 10px;
    }
    .container p, .zipcode-input, .map {
        width: 70%;
    }
    .addresses {
        width: 40%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container p, .zipcode-input, .map {
        width: 70%;
    }
    .addresses {
        width: 40%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .container, .map-container {
        flex-direction: column;
        align-items: center;
    }
    .zipcode-input, .map, .addresses {
        width: 80%;
    }
    .addresses {
        max-height: 300px;
    }
}

@media screen and (max-width: 480px) {
    .container, .map-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .map {
        width: 90%;
        order: 1;
    }
    .addresses {
        width: 90%;
        order: 2;
        max-height: 200px;
    }
    .container h1 {
        font-size: 2.5rem;
        padding: 10px;
    }
    .find-button, .toggle-button {
        font-size: 1.2rem;
        padding: 8px 16px;
    }
}
