.navbar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fcfcea;
    margin-bottom:2px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.09);
}

.nav-logo img {
    width: 150px;
}
.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo h1 {
    font-size: 2rem;
    font-weight: 900;
    color: #82B300;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1.3rem;
    font-weight: 600;
    z-index: 100;
}

.nav-menu li a {
    text-decoration: none;
    padding: 0 20px;
    position: relative;
    cursor: pointer;
    font-weight: 600;
    color: #82B300;
}

.nav-menu li a:hover,
.nav-menu li a:active {
    color: #FFBB00;
}

.nav-menu li a:hover::after, 
.nav-menu li a:active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #FFBB00;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.mobile-navbar {
    display: none;
}

.mobile-navbar i {
    color: #82B300;
    align-items: center;
    margin-right: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
    .dropdown:hover .dropdown-content {
    display: block;
  }
  
@media screen and (max-width: 950px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 120px;
        right: 0px;
        width: 300px;
        height: 100vh;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        background: #fcfcea;
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }

    .nav-menu.active {
        right: -300px;
    }

    /* .nav-logo img {
        width: 40%;
    } */

    .nav-menu li {
        margin-bottom: 25px;
    }
     
    .mobile-navbar {
        display: block;
    }

    .mobile-navbar i {
        font-size: 24px;
        cursor: pointer;
        color: #82B300;
        z-index: 100;
        }
}

@media screen and (min-width: 761px) and (max-width: 1024px){
    .nav-logo img {
        width: 150px;
    }
    
}
