.signup-page {
    max-width: 100vw;
    padding: 1em;
    margin: 155px auto 0px;
    display: flex;
    align-items: center;
}

.signup-page img {
    width: 60%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.09);

}

.signup-page .form {
    max-width: 70%;
    background: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    float: right;
    height: 100%;
}

.signup-page .form input {
    outline: 0;
    background: #f2f2f2;
    width: 75%;
    border: 0;
    margin: 0 0 1.5em;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.2em;
}

.signup-page .form button {
    text-transform: uppercase;
    outline: 0;
    background: #82B300;
    width: 75%;
    border: 0;
    padding: 18px;
    color: #FFFFFF;
    font-size: 1.2em;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.signup-page .form button:hover,
.signup-page .form button:active,
.signup-page .form button:focus {
    background: #95c11c;
}

.signup-page .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 1em;
}

.signup-page .form .message a {
    color: #6c9009;
    text-decoration: none;
}
